#footer
    .container
        p.text-muted.credit
         a(href='http://twitter.com/jaredeg') @jaredeg
         |  Made this for a work project -
         a(href='http://github.com/jaredeg/shortn') Github
