head
  title= title
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/starter-template.css')
  link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')