script(type='text/javascript', src='/js/bootstrap.min.js')
script(type='text/javascript', src='/js/click.js')
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
