extends ./layout

block content
  :markdown
    **Who made this?**
    
    This was thrown together by [Jared Greene](http://www.linkedin.com/in/jaredeg) on one particularly slow afternoon in his busy life.
    
    **What's it made in?**
    
    The app is written in [Node.js](http://www.nodejs.org), [Express](http://expressjs.com/), and uses [Mongoose](http://mongoosejs.com/) via [MongoDB](http://www.mongodb.org/) because I wanted to learn some new technologies.
    
    It is hosted by at [Heroku](http://www.heroku.com) because it's free
    
    The code is up on [Github](http://github.com/jaredeg/shortn).  Feel free to fork it.
    
    **What's the plan?**
    
    On the front-end I hope to add favicons to match with the urls shortened, and perhaps even a screenshoting tool.
    
    [Back](/)