extends ./layout

block content
      p
      .template
      .form-group
         input.form-control(id='source', type='text', name ='url')
      p.link
       #sub.button.btn.btn-default(type='button') Submit
       button.hide.btn.btn-default(type='hidden') Copy
